<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AllStarController</servlet-name>
        <servlet-class>controller.sync.AllStarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerController</servlet-name>
        <servlet-class>controller.sync.PlayerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterTeamController</servlet-name>
        <servlet-class>controller.sync.FilterTeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.sync.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryController</servlet-name>
        <servlet-class>controller.sync.FilterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.sync.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.sync.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>controller.sync.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.sync.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.sync.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.sync.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.sync.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>controller.sync.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPlayerController</servlet-name>
        <servlet-class>controller.sync.SearchPlayerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductTeamController</servlet-name>
        <servlet-class>controller.sync.FilterProductTeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.sync.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.sync.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.sync.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerDetailController</servlet-name>
        <servlet-class>controller.sync.PlayerDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>controller.productCRUD.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartHistoryController</servlet-name>
        <servlet-class>controller.sync.CartHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInforController</servlet-name>
        <servlet-class>controller.sync.AccountInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlayer</servlet-name>
        <servlet-class>controller.playerCRUD.CreatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayer</servlet-name>
        <servlet-class>controller.playerCRUD.DeletePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlayer</servlet-name>
        <servlet-class>controller.playerCRUD.UpdatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessfullController</servlet-name>
        <servlet-class>controller.sync.SuccessfullController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <servlet-class>controller.async.AddToCartAsyncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.productCRUD.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.productCRUD.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowController</servlet-name>
        <servlet-class>controller.sync.BuyNowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductAsync</servlet-name>
        <servlet-class>controller.async.CreateProductAsync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.dashboard.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullAccountInforController</servlet-name>
        <servlet-class>controller.dashboard.FullAccountInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>controller.sync.MessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeMoreAccount</servlet-name>
        <servlet-class>controller.dashboard.SeeMoreAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.dashboard.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EarningDailyController</servlet-name>
        <servlet-class>controller.dashboard.EarningDailyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EarningMonthController</servlet-name>
        <servlet-class>controller.dashboard.EarningMonthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveMessageController</servlet-name>
        <servlet-class>controller.dashboard.ReceiveMessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableDashboardAccount</servlet-name>
        <servlet-class>controller.dashboard.TableDashboardAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductTeamAsync</servlet-name>
        <servlet-class>controller.async.FilterProductTeamAsync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartHoverAsync</servlet-name>
        <servlet-class>controller.async.CartHoverAsync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControllerAsync</servlet-name>
        <servlet-class>controller.async.CartControllerAsync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategoryControllerAsync</servlet-name>
        <servlet-class>controller.async.FilterCategoryControllerAsync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDashboard</servlet-name>
        <servlet-class>controller.dashboard.ProductsDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductDashboard</servlet-name>
        <servlet-class>controller.dashboard.UpdateProductDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayersDashboard</servlet-name>
        <servlet-class>controller.dashboard.PlayersDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlayersDashboard</servlet-name>
        <servlet-class>controller.dashboard.UpdatePlayersDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllStarController</servlet-name>
        <url-pattern>/allstar-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerController</servlet-name>
        <url-pattern>/player-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterTeamController</servlet-name>
        <url-pattern>/filter-team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryController</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/search-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPlayerController</servlet-name>
        <url-pattern>/search-player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductTeamController</servlet-name>
        <url-pattern>/filter-proteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerDetailController</servlet-name>
        <url-pattern>/pdetail-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/admin/create-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartHistoryController</servlet-name>
        <url-pattern>/cart-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInforController</servlet-name>
        <url-pattern>/account-infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlayer</servlet-name>
        <url-pattern>/admin/create-player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayer</servlet-name>
        <url-pattern>/admin/delete-player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlayer</servlet-name>
        <url-pattern>/admin/update-player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessfullController</servlet-name>
        <url-pattern>/successfull</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AunthenticationFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <url-pattern>/add-to-cart-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/admin/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/admin/update-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowController</servlet-name>
        <url-pattern>/buy-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductAsync</servlet-name>
        <url-pattern>/create-product-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullAccountInforController</servlet-name>
        <url-pattern>/admin/full-account-infor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeMoreAccount</servlet-name>
        <url-pattern>/admin/see-more</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/admin/delete-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EarningDailyController</servlet-name>
        <url-pattern>/admin/earning-daily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EarningMonthController</servlet-name>
        <url-pattern>/admin/earning-month</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveMessageController</servlet-name>
        <url-pattern>/admin/receive-message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableDashboardAccount</servlet-name>
        <url-pattern>/admin/table-dashboard-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductTeamAsync</servlet-name>
        <url-pattern>/filter-proteam-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartHoverAsync</servlet-name>
        <url-pattern>/cart-hover-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControllerAsync</servlet-name>
        <url-pattern>/cart-controller-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategoryControllerAsync</servlet-name>
        <url-pattern>/filter-category-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDashboard</servlet-name>
        <url-pattern>/admin/products-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductDashboard</servlet-name>
        <url-pattern>/admin/update-product-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayersDashboard</servlet-name>
        <url-pattern>/admin/players-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlayersDashboard</servlet-name>
        <url-pattern>/admin/update-player-dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
